/*------------------------------------------------------[message]-*/
.message {
  width: 85%;
  font-size: small;
  margin: 3rem auto;
  border: solid 4px #e23f34;
  border-radius: 8px;
  font-weight: 700;
}

@media (min-width: 1200px) {
  .message {
    font-size: medium;
    width: 30%;
  }
}


.message h2 {
  color: #1d1d1d;
  font-weight: bolder;
  background-color: #e23f34;
  padding: 0.5rem 1rem;
}

.message p {
  padding: 1rem;
}

.message a {
  text-decoration: underline;
  color: #e55447;
}

/*-------------------------------------------- [card container]*/

.card-container {
  width: 40%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}